<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>List Person</h1>

    <ul>
        <% data.forEach((item) => { %>
        <li>
            <span><%= item.name %></span>
        </li>
        <li>
            <span><%= item.age %></span>
        </li>
        <li>
            <span><%= item.address %></span>
        </li>
        <hr>
        <% }) %>
    </ul>
</body>

</html>